/*  Style*/
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background: #f2f2f7;
    color: #1c1c1e;
    text-align: center;
}

/*  top bar */
.top-bar {
    background: #ffffff;
    padding: 18px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  title  */
#screen-title {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
}

/*  upload Box  */
.upload-area {
    width: 90%;
    height: 180px;
    background: white;
    margin: 20px auto;
    border-radius: 18px;
    border: 2px dashed #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

.upload-area:hover {
    border-color: #007aff;
}

.upload-icon {
    font-size: 45px;
    margin-bottom: 8px;
}


#uploaded-files {
    width: 90%;
    background: white;
    margin: 10px auto;
    padding: 15px;
    border-radius: 16px;
    text-align: left;
}

#uploaded-files h3 {
    margin-top: 0;
}

#uploadedList {
    list-style: none;
    padding: 0;
}

#uploadedList li {
    margin: 8px 0;
    padding: 10px;
    background: #f2f2f7;
    border-radius: 12px;
    font-size: 16px;
}

/* = status= */
#uploadStatus {
    margin-top: 10px;
    font-size: 16px;
}

#startStatus {
    width: 90%;
    background: white;
    margin: 18px auto;
    padding: 15px;
    border-radius: 14px;
    text-align: left;
}

/*  buttons row */
.button-row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
}

button {
    width: 48%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.15s;
}

#startButton {
    background: #007aff;      
    color: white;
}

#startButton:hover {
    background: #005ecb;
}

.cancel {
    background: #d1d1d6;
    color: #333;
}

.cancel:hover {
    background: #bdbdc2;
}

